<%= form_with(model: transporte, local: true) do |form| %>
  <% if transporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transporte.errors.count, "error") %> prohibited this transporte from being saved:</h2>

      <ul>
      <% transporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :transporte_tipo %>
  </div>

  <div class="field">
    <%= form.label :placa %>
    <%= form.text_field :placa, id: :transporte_placa %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :transporte_color %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.number_field :modelo, id: :transporte_modelo %>
  </div>

  <div class="field">
    <%= form.label :cilindraje %>
    <%= form.number_field :cilindraje, id: :transporte_cilindraje %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
