<p id="notice"><%= notice %></p>

<h1>Transportes</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Placa</th>
      <th>Color</th>
      <th>Modelo</th>
      <th>Cilindraje</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transportes.each do |transporte| %>
      <tr>
        <td><%= transporte.tipo %></td>
        <td><%= transporte.placa %></td>
        <td><%= transporte.color %></td>
        <td><%= transporte.modelo %></td>
        <td><%= transporte.cilindraje %></td>
        <td><%= link_to 'Show', transporte %></td>
        <td><%= link_to 'Edit', edit_transporte_path(transporte) %></td>
        <td><%= link_to 'Destroy', transporte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transporte', new_transporte_path %>
